<article class="od-blog-card">
    <a href="<!-- INJECT: article.url -->" class="od-blog-card__link">
        <div class="od-blog-card__image">
            <!-- INJECT: article.image -->
            <span class="od-blog-card__category"><!-- INJECT: article.category --></span>
        </div>
        <div class="od-blog-card__content">
            <h3 class="od-blog-card__title">
                <!-- INJECT: article.title -->
            </h3>
            <p class="od-blog-card__excerpt">
                <!-- INJECT: article.excerpt -->
            </p>
            <div class="od-blog-card__meta">
                <time><!-- INJECT: article.date --></time>
                <!-- INJECT: article.author -->
            </div>
        </div>
    </a>
</article>